/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
}

.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
       -webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
       -moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
       box-shadow: -5px 0 5px rgba(0,0,0,.10);
}

/* Reveal menu shadow on top of the list items */
.removeshadow .ui-panel-display-reveal { 
 -webkit-box-shadow: none; 
 -moz-box-shadow: none; 
 box-shadow: none; 
 }

.removeshadow .ui-panel-content-wrap-position-left { 
 -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15); 
 -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15); 
 box-shadow: -5px 0px 5px rgba(0,0,0,.15); 
}

.ui-header {
background: #e26350 !important;
border: 0 !important;
padding: 0 !important;
margin: 0 !important;
height: 50px !important;
}
.ui-footer{
	background: #e26350 !important;
}
.ui-header .ui-btn {
border-radius: 0 !important;
border: 0 !important;
background: #eb6d52 url(../images/icon.svg) center center no-repeat !important;
text-indent: 1000px;
padding: 0 !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
.ui-header .ui-btn-left {
width: 50px;
height: 50px;
top: 0;
left: 0;
margin: 0 !important;
}
.ui-header{
 	line-height: 25px;
}
.ui-header h1{
	color: #fff;
	text-shadow:none;
}
.ui-footer{
 	line-height: 25px;
}
.ui-footer h4{
	color: #fff;
	text-shadow:none;
}
.menu{
	background: #333333!important;
}
.menu ul{
	background: #333333!important;
}
.menu ul li{
	padding:3px;
}
.menu ul li.title{
	background-image:url(../images/bg.png)!important;
	text-align: center;
	font-weight: bold;
	color:#fff;
	height: 26px;
	line-height: 26px;
	border-top: none;
}
.menu ul li a {
	display: block;
	width:80%!important;
	height:20px!important;
	background:#333333!important;
	border-radius: 5px!important;
	color: #fff!important;
	box-shadow: none!important;
	border: none!important;
	font-weight: normal!important;
	text-shadow:none!important;
	margin: 0 auto 0!important;
}
.menu ul li a.active{
	background:  #2f2f2f !important;
	box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.1)!important;
-moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.1)!important;
-webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.1)!important;
}

.menu ul li:not(:first-child){
    /*background: #2b2b2b;*/
	color: #fff;
	border-color: #727272 !important;
	border: none !important;
	text-shadow:none !important;
}
.profile{
	width:100%;
	min-height: 200px;
	background:black;
}
/*.ui-page { -webkit-backface-visibility: hidden; }*/

/*Login page style*/
.bg-container{
	background-position: center center;
	width:100%;
	min-height:500px;
	-webkit-filter: blur(5px);
}
.logo-container{
	position: absolute;
	top: 20%;
	left: 13%;
	background: rgba(255,255,255,1);
	padding: 2%;
	padding: 8px;
}
.logo-container img{
	margin:0 auto 0;
	display: block;
}
#glogin{
	border:none !important;
	background-color: #e26350 !important;
	width: 80%!important;
	color:#fff!important;
	text-shadow:none!important;
	height:40px;
	text-align: center;
	line-height: 40px;
	margin:20% auto 0;
	position: absolute;
	top:150%;
	left: 10%;
}

